@import "src/_variables.scss";

.hero__container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url("../../../../../../assets/background_hero.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero__content {
    width: 100%;
    height: 100vh;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .redes {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      position: absolute;
      bottom: 50px;
      left: 10px;
      z-index: 9999;

      a {
        opacity: 0.8;
        cursor: pointer;
        transition: opacity 0.3s, transform 0.3s;

        &:hover {
          opacity: 1;
          transform: scale(1.1);
        }
      }
    }

    .scroll {
      position: absolute;
      bottom: 100px;
      right: -0.3em;
      transform: rotate(90deg);
      letter-spacing: 0.3em;
      opacity: 0.8;
      font-size: 1.3rem;
      z-index: 100;
    }
  }

  .scrolling-image-container {
    height: 100vh;
    position: absolute;
    top: 0;

    .scrolling-image {
      background: url("../../../../../../assets/niebla.png") repeat-x;
      filter: opacity(0.2);
      height: 100vh;
      width: 9680px;
      animation: slide 20s linear infinite;
    }
  }

  @keyframes slide {
    0% {
      transform: translate(0);
    }

    100% {
      transform: translate(-3840px);
    }
  }

  .light {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: rgba(221, 221, 221, 0.5);
    opacity: 0.8;
    pointer-events: none;
    transition: 0.5s ease-out;
    box-shadow: 0px 0px 100px 250px rgba(221, 221, 221, 0.5);
    opacity: 0.08;
  }
}
