@import "src/_variables.scss";

.post__container {
  width: 95%;
  max-width: 1000px;
  min-height: calc(100vh - 124px);
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .header__post {
    width: 100%;
    display: flex;
    gap: 1rem;

    @include media-up(tablet) {
      flex-direction: column;
    }

    .image__container {
      width: 100%;
      max-width: 400px;

      @include media-up(tablet) {
        max-width: none;
      }

      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: $border-radius-x2;
      }
    }

    .text__container {
      display: flex;
      flex-direction: column;
      gap: .4rem;

      .published {
        opacity: 0.7;
        font-size: .9rem;
      }

      .badge {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        opacity: 0.7;


        span {
          border-radius: $border-radius-x2;
          padding: 0.3rem 0.5rem;
          background-color: rgba(128, 128, 128, 0.103);
        }
      }

      .description {
        padding-top: 1rem;
      }
    }
  }

  .post__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    div {
      .code__container {
        width: 100%;
        overflow: hidden;
        border-radius: $border-radius-x2;
      }

      .badge--secondary {
        font-weight: bold;
        background-color: $card-black-secondary;
      }
    }

  }

}

::ng-deep .markdown__container--post {

  h1,
  h2,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 2rem 0;
  }

  p {
    padding: .3rem 0;
    line-height: 30px;
  }

  code:not(pre code) {
    padding: .2rem .3rem;
    background-color: $color-white;
    color: $color-black;
    border-radius: $border-radius-x2;
  }

  pre {
    margin: 1rem 0;
    background-color: $code-blog;
    border-radius: $border-radius-x2;
    overflow: hidden;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.5);
    overflow-x: auto;

    div {
      opacity: 1;
    }
  }
}
