@import "src/_variables.scss";

.searcher__container {
  min-height: calc(100vh - 124px - 4rem);
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  // max-width: 1000px;

  .query {
    color: $color-complementary;
  }

  .searcher__card--container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;

    @include media-up(screenXs) {
      flex-direction: column;
      gap: 2rem;
    }

    .post__container,
    .courses__container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .card__container {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .card {
        width: 100%;
        max-width: 600px;
        min-height: 115px;
        display: flex;
        justify-content: space-between;
        // align-items: center;
        gap: 1rem;
        // background-color: $card-color;
        border-radius: $border-radius-x2;
        overflow: hidden;
        padding: .7rem;
        cursor: pointer;
        transition: all .3s ease-in-out;

        &:hover {
          background-color: rgba(128, 128, 128, 0.053);
        }

        .image__container {
          width: 100%;
          max-width: 150px;
          min-width: 150px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $border-radius-x1;

          }
        }

        .text__card {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          gap: 1rem;

          h3 {
            display: -webkit-box;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
          }

          .badge__container {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: .5rem;
            flex-wrap: wrap;

            .badge {
              padding: .3rem .5rem;
              border-radius: $border-radius-x2;
              background-color: $card-color;
            }
          }

          .published,
          .badge {
            font-size: .8rem;
            opacity: .6;
          }
        }
      }
    }
  }
}
