<section class="courses__container container">
  <article></article>
  <article class="courses__card--container">
    <ng-container *ngFor="let course of courses()">
      <div class="courses__card">
        <div class="course__image">
          <img
            [src]="course.attributes.image.data.attributes.formats.medium.url"
            [alt]="course.attributes.title"
          />
        </div>

        <div class="course__text">
          <p>{{ course.attributes.title }}</p>

          <div class="button__container">
            <a
              [href]="course.attributes.url"
              aria-label="Ver video"
              target="_blank"
            >
              <button class="button custom__button--line">Ver video</button>
            </a>
          </div>
        </div>
      </div>
    </ng-container>
  </article>
</section>
