<section class="home__container">
  <article class="image__container">
    <img src="assets/banner__background.jpg" alt="background" />

    <div class="banner__content">
      <div class="text__container">
        <h1>
          Aprende <br />
          las buenas prácticas
        </h1>
        <p>Tu lugar para aprender programación web</p>
      </div>

      <div class="image__container--banner">
        <img src="assets/banner__background--logo.png" alt="background image" />
      </div>
    </div>
  </article>

  <article class="post__container container">
    <h2>Últimos Post</h2>
    <div class="card__container" *ngIf="posts(); else skeleton">
      <app-card-post
        *ngFor="let post of posts(); index as index; trackBy: trackByFn"
        [post]="post"
      />
    </div>
  </article>

  <div class="button__container" *ngIf="showButtonPage()">
    <button
      class="button custom__button--line"
      (click)="nextPage()"
      [ngStyle]="{ opacity: showButtonPage() ? 1 : 0.4 }"
    >
      Ver más
    </button>
  </div>
</section>

<ng-template #skeleton>
  <app-skeleton-post-card />
</ng-template>
