@import "src/_variables.scss";

.projects__container {

  .titlte__container {
    text-align: center;
    margin-bottom: 1rem;
  }

  .projects__card--container {
    width: 100%;
    display: grid;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1rem;

    .card {
      width: 100%;
      position: relative;
      border-radius: $border-radius-x1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      cursor: pointer;

      .card__image {
        width: 100%;
        height: 300px;
        position: absolute;
        z-index: -1;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: transform 0.3s ease-in-out;
        }
      }

      .card__text {
        padding: 1rem;
      }

      &:hover {
        .card__image {
          img {
            transform: scale(1.1);

          }
        }
      }
    }

  }
}
