@import "src/_variables.scss";


.footer__container {
  width: 100%;
  height: 4rem;
  background-color: $color-black;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-up(mobile) {
    height: 100%;
    min-height: 4rem;
    padding: 1rem 0;
  }

  .footer__content {
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @include media-up(mobile) {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    .social {
      display: flex;
      align-items: center;
      gap: 1rem;

      a {
        opacity: 0.6;
        transition: all 0.3s ease-in-out;

        i {
          font-size: 1.2rem;
        }

        &:hover {
          opacity: 1;
          transform: scale(1.1);
        }

      }
    }

    span {
      opacity: 0.6;

      @include media-up(mobile) {
        order: 3;
      }
    }

    .contact {
      opacity: 0.6;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      @include media-up(mobile) {
        order: 2;
      }

      &:hover {
        opacity: 1;
        text-decoration: underline;
      }
    }
  }
}

.alternative__background {
  background-color: $header-blog;
}
