<section class="skills__container container">
  <app-title [title]="'habilidades'" />

  <article class="skills__card--container">
    <div class="skill__stack">
      <h2>Frontend</h2>
      <div class="skills__content">
        <app-atropos
          *ngFor="let skill of frontend(); let i = index"
          [item]="skill.attributes"
          [clase]="skill.attributes.name"
          [isPrimary]="true"
        ></app-atropos>
      </div>
    </div>

    <div class="skill__stack">
      <h2>Backend</h2>
      <div class="skills__content">
        <app-atropos
          *ngFor="let skill of backend(); let i = index"
          [item]="skill.attributes"
          [clase]="skill.attributes.name"
          [isPrimary]="true"
        ></app-atropos>
      </div>
    </div>

    <div class="skill__stack">
      <h2>Base de Datos</h2>

      <div class="skills__content">
        <app-atropos
          *ngFor="let skill of database(); let i = index"
          [item]="skill.attributes"
          [clase]="skill.attributes.name"
          [isPrimary]="true"
        ></app-atropos>
      </div>
    </div>

    <div class="skill__stack">
      <h2>Librerías</h2>

      <div class="skills__content">
        <app-atropos
          *ngFor="let skill of library(); let i = index"
          [item]="skill.attributes"
          [clase]="skill.attributes.name"
          [isPrimary]="true"
        ></app-atropos>
      </div>
    </div>
  </article>
</section>
